.container{
background-color: #ef233c;
border: 5px solid #d5f2e3;
width: auto;
padding: 10px;
margin: auto;
text-align: center;
}

.border{
border:2px solid #d5f2e3;
}

.menos{
margin: 1px;
}

.normal:hover{
text-decoration:underline;
background-color: #cbc8cd;
color: #8418cf;	
border: 2.5px solid #a3a2a4;
border-radius:16px;	
}

body{
margin: 0 0 0 0;
}

h1{
color: black;
font-family: "Henny Penny", serif;
font-weight: 700;
font-style: normal;
}

h2{
color :#73ba9b;
font-family: "Henny Penny", serif;
font-weight: 700;
font-style: normal;
margin: 0px;
}

h3{
font-family: "Henny Penny", serif;
font-weight: 700;
font-style: normal;
line-height:50px;
color: #1a7431;
}

header{
background-color:  #11c0a5;
background-image: url("imgs/ugly.jpg");
}

header nav ul{
display:flex;
list-style:none;
justify-content:space-evenly;
margin: 0;
}

header h2{
color: #01110a;
}

header nav a{
display:block;
padding:16px;
color: #d5f2e3;
font-family: "Henny Penny", serif;
font-weight: 400;
font-style: normal;
text-decoration:none;
}
		
header nav a:hover{
text-decoration:underline;
background-color: #003e1f;
color: white;	
border: 2.5px solid #d5f2e3;
border-radius:16px;		
}

main{
background-color: #d90429;
margin: 0;
padding: 16px;
background-image: url("imgs/snow.gif");
}

main p{
font-family: "Henny Penny", serif;
font-weight: 400;
font-style: normal;
color: white;
}

main h2{
border-top:2px solid green;
border-right:none;
border-bottom:none;
border-left:none;
}

main h3{
font-family: "Henny Penny", serif;
font-weight: 500;
font-style: normal;
line-height:50px;
color: #1a7431;
}

main li{
font-family: "Henny Penny", serif;
font-weight: 400;
font-style: normal;
color: white;
}

main figcaption{
font-family: "Henny Penny", serif;
color:white;
}

footer{
background-color: #ef233c; 
display:flex;
justify-content:space-evenly;
padding: 32px;
background-image: url("imgs/ugly.jpg");
}
		
footer p{
margin:0 0 0 0;
color:#000000;
font-family: "Henny Penny", serif;
}
		
footer h2{
color: #73ba9b;
margin: 0;
padding: 5px;
}
		
footer nav{
padding:16px;
border-radius:16px;
background-color: #003e1f;
border: 10px solid #d5f2e3;
}
		
footer nav ul{
padding: 0 0 0 0;
list-style:none;
}

footer nav ul li{
padding-top: 5px;
padding-bottom: 40px;
}
		
footer nav a{
display:block;
color:#d5f2e3;
font-family: "Henny Penny", serif;
text-decoration:none;
text-align:center;
}
		
footer nav a:hover{
text-decoration:underline;
background-color: #ef233c;
color: white;	
border: 2.5px solid #d5f2e3;
border-radius:16px;			
}